.wrapper {
  width: 93%;
  height: 60%;
  position: relative;
  padding-left: 7%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.movie {
  color: aliceblue;
}
.img {
  width: 40%;
}
.movieInfo {
  font-size: medium;
  display: flex;
  gap: 15px;
  color: white;
}
.description {
  color: white;
  width: 40%;
}
